/* Variables */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --section-white: #ffffff;
    --section-black: #000000;
    --section-padding: 2rem;
}

body {
    background-color: var(--background-color);
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
}

/* Header styling */
header {
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;

    box-shadow: 0 0px 8px rgba(0,0,0, 0.35);
}

header nav a {
    text-decoration: none;
    color: var(--text-color);

    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4 {
    text-align: center;

    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    align-self: center;
}

h3 {
    justify-self: left;
}

/* Learn more link */
.learn-more {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
    align-self: center;

    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Section-specific styling */
section {
    display: grid;
    gap: 1rem;
}

section, div {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.title-container {
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width of the viewport minus scrollbar */
    margin: auto;
    display: grid;

    justify-items: center;
    align-content: center;
}

.about-WGI {
    background-color: var(--section-white);
    color: var(--section-black);
}

.about-DCI {
    background-color: var(--section-black);
    color: var(--section-white);
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
}

.how-I-started,
.why-I-do-it,
.other-drumming {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.why-I-do-it {
    background-color: var(--section-black);
    color: var(--section-white);
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.wrapper {
    justify-self: center;
}

/* Carousel image styling */
.carousel img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.5s ease-in-out;
}

header {
    transition: transform 0.3s ease-in-out; /* Smooth sliding effect */
}

.WGI-logo-black, .DCI-logo-white {
    width: 50%;
    justify-self: center;
}




/* ############################################
###############################################
############################################ */
/* grids and layout */

.general-drum-information {
    justify-items: center;
}

.collage {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    align-content: space-evenly;
}

.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collage #image1 {
    grid-area: 4 / 4 / 4 / 4;
}

.collage #image3 {
    grid-area: 1 / 2 / 1 / span 2;
}

.collage #image4 {
    grid-area: 2 / 1 / span 1 / span 2;
}

.collage #image5 {
    grid-area: 4 / 2 / span 1 / span 2;
}

.collage #image6 {
    grid-area: 3 / 3 / span 1 / span 2;
}

.collage #image7 {
    grid-area: 4 / 1 / span 1 / span 1;
}

.collage #image8 {
    grid-area: 2 / 3 / span 1 / span 2;
}

.collage #image9 {
    grid-area: 1 / 4 / span 1 / span 1;
}

.collage #image10 {
    grid-area: 3 / 1 / span 1 / span 2;
}






.text-logo-grid {
    text-align: left;
    justify-items: left;

    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-template-rows: 1fr;

    height: 2em;

    align-content: center;
    justify-content: center;
    align-items: center;

    margin-bottom: 2em;
}

.text-logo-grid img, .text-logo-grid h2 {
    width: 80%;
    height: 80%;
}



.about-WGI * {
    outline: 5px solid red;
}

.about-WGI > div {
    justify-items: left;
}

.about-WGI > div > img {
    justify-self: center;
    width: 100%;
}

.about-WGI > div > iframe {
    justify-self: center;
}

.about-WGI > div > li {
    max-width: 90%;
}

.about-WGI > p {
    text-align: left;
    width: 100%;
}



.about-DCI {
    padding-top: 90px;
    padding-bottom: 90px;
}

.about-DCI > img {
    max-width: 60%;
}

.about-DCI > div {
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 2;
    justify-items: center;
}

div.about-DCI-container {
    align-self: center;
    align-items: center;
    align-content: center;
}





/* ############################################
###############################################
############################################ */
/* mobile styles */
body {
    font-size: 14px;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}
h2 {
    margin-top: 1.6em;
    margin-bottom: 0.8em;
    line-height: 1.5em;
}
h3 {
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}
h4 {
    font-size: 0.8em;
    margin-bottom: 0.5em;
    margin-top: 2em;
}
header nav a {
    margin: 0 1rem;
    font-size: 1rem;
}


#rotating {
    width: 90%;
}
.learn-more {
    padding: 20px;
    font-size: 1.2rem;
}

section {
    padding-left: 5%;
    padding-right: 5%;
}



/* small tablet styles */
@media screen and (min-width: 620px) {
    body {
        font-size: 16px;
    }

    section {
        padding-left: 20%;
        padding-right: 20%;
    }
}



/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
    body {
        font-size: 20px;
    }

    section {
        padding-left: 20%;
        padding-right: 20%;
    }
}



/* desktop styles */
@media screen and (min-width: 1200px) {
    body {
        font-size: 22px;
    }
    
    section {
        padding-left: 20%;
        padding-right: 20%;
    }
}