/* Variables */
:root, .light-mode {
    --surface-color: #ffffff;
    --primary-color: #000000;
    --03: rgba(0, 0, 0, 0.03);
    --07: rgba(0, 0, 0, 0.07);
    --09: rgba(0, 0, 0, 0.09);
    --12: rgba(0, 0, 0, 0.12);
    --15: rgba(0, 0, 0, 0.15);
    --35: rgba(0, 0, 0, 0.35);
    --65: rgba(0, 0, 0, 0.65)
}

/* automatically determine color scheme based on preference */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #ffffff;
        --surface-color: #121212;
        --03: rgba(255, 255, 255, 0.03);
        --07: rgba(255, 255, 255, 0.07);
        --09: rgba(255, 255, 255, 0.09);
        --12: rgba(255, 255, 255, 0.12);
        --15: rgba(255, 255, 255, 0.15);
        --35: rgba(255, 255, 255, 0.35);
        --65: rgba(255, 255, 255, 0.65);
    }
}

/* dark mode */
.dark-mode {
    --primary-color: #ffffff;
    --surface-color: #121212;
    --03: rgba(255, 255, 255, 0.03);
    --07: rgba(255, 255, 255, 0.07);
    --09: rgba(255, 255, 255, 0.09);
    --12: rgba(255, 255, 255, 0.12);
    --15: rgba(255, 255, 255, 0.15);
    --35: rgba(255, 255, 255, 0.35);
    --65: rgba(255, 255, 255, 0.65);
}

body {
    background-color: var(--surface-color);
    color: var(--primary-color);
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
}

/* Header styling */
header {
    background-color: var(--surface-color);
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    z-index: 1000;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.35);
}

header nav a, header button, footer nav a {
    text-decoration: none;
    color: var(--text-color);

    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: var(--03);

    align-items: center;
    justify-content: center;
}

footer > nav > *{
    align-self: center;
    justify-self: center;
    text-align: center;
}

h1, h2, h3, h4 {
    text-align: center;

    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    align-self: center;
}

.standout-h2 {
    background-color: var(--primary-color);
    color: var(--surface-color);
    padding: 1.0em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.standout-h3 {
    background-color: var(--03);
    padding: 1.0em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

h3 {
    justify-self: left;
}

figcaption {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

figure, figure > img {
    justify-self: center;
}


/* Learn more link */
.learn-more {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
    align-self: center;

    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Section-specific styling */
section {
    display: grid;
    gap: 1rem;
}

section, div {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.title-container {
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width of the viewport minus scrollbar */
    margin: auto;
    display: grid;

    justify-items: center;
    align-content: center;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.wrapper {
    justify-self: center;
    max-width: 100%;
}

/* Style for skip link */
.skip-link {
    position: absolute;
    left: -999px;
    top: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;
}
.skip-link:focus {
    position: static;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    z-index: 100;
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    color: #000;
}

figure {
    position: relative;
    display: inline-block; /* Ensures the image doesn't take up the full width */
}

figure img {
    display: block; /* Removes inline spacing around the image */
}

figure i.fa-expand {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    color: white; /* Choose a contrasting color */
    font-size: 1.5rem; /* Adjust the size of the icon */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
    padding: 0.5em; /* Optional: Add some padding */
    border-radius: 2em; /* Optional: Add rounded corners */
    cursor: pointer; /* Makes it clear the icon is interactive */
}

.color-scheme-toggle {
    border-radius: 2em;
    border: 0px solid black;
    background-color: var(--primary-color);
    color: var(--surface-color);
    border: 0.25em solid var(--primary-color);

    height: fit-content;
    width: fit-content;
    cursor: pointer;
    padding: 0.75em; 
}

.WGI-logo, .DCI-logo {
    width: 50%;
    justify-self: center;
}



/* animations */
.dark-mode-toggle:hover {
    background-color: var(--65);
    transition: background-color 0.35s ease-in-out;
}

body, header {
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}

header nav a {
    transition: color 0.35s ease-in-out;
}

header {
    transition: transform 0.3s ease-in-out; /* Smooth sliding effect */
}





/* ############################################
###############################################
############################################ */
/* grids and layout */

header {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
}
header > nav {
    justify-self: start;
}
header > button {
    justify-self: end;
}

footer {
    align-items: center;
    justify-items: center;
}

.general-drum-information {
    justify-items: center;
}

.collage {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    align-content: space-evenly;
}

.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collage #image1 {
    grid-area: 4 / 4 / 4 / 4;
}

.collage #image3 {
    grid-area: 1 / 2 / 1 / span 2;
}

.collage #image4 {
    grid-area: 2 / 1 / span 1 / span 2;
}

.collage #image5 {
    grid-area: 4 / 2 / span 1 / span 2;
}

.collage #image6 {
    grid-area: 3 / 3 / span 1 / span 2;
}

.collage #image7 {
    grid-area: 4 / 1 / span 1 / span 1;
}

.collage #image8 {
    grid-area: 2 / 3 / span 1 / span 2;
}

.collage #image9 {
    grid-area: 1 / 4 / span 1 / span 1;
}

.collage #image10 {
    grid-area: 3 / 1 / span 1 / span 2;
}

.how-I-started, .why-I-do-it {
    grid-template-rows: repeat(5, auto);
    justify-content: center;
    align-items: center;
}
.how-I-started > *:not(:first-child) {
    margin: 0;
}
#HIS-1 {
    grid-area: 1 / 1 / span 1 / span 2;
}
#HIS-2 {
    grid-area: 3 / 1 / span 1 / span 2;
}
#HIS-3 {
    grid-area: 4 / 1 / span 1 / span 2; 
}
#HIS-4 {
    grid-area: 5 / 1 / span 1 / span 2;
}


.why-I-do-it {
    display: grid;
    grid-template-rows: repeat(5, auto);
    justify-content: center;
    align-items: center;
}
.slider {
    position: relative;
    width: 210px;
    height: 210px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    animation: rotating-slider 60s linear infinite;

    grid-area: 1 / 1 / span 2 / span 2
}
@keyframes rotating-slider {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(-360deg);
    }
}
.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg))
    translateZ(380px);
}
.slider span img {
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    transition: .6s ease;
}
.slider span img:hover {
    transform: translateY(-10px) scale(1.1);
}
#slider1 {
    --i: 1    
}
#slider2 {
    --i: 2    
}
#slider3 {
    --i: 3    
}
#slider4 {
    --i: 4    
}
#slider5 {
    --i: 5    
}
#slider6 {
    --i: 6    
}
#slider7 {
    --i: 7    
}
#slider8 {
    --i: 8    
}
#slider9 {
    --i: 9    
}


.text-logo-grid {
    text-align: left;
    justify-items: left;

    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-template-rows: 1fr;

    height: fit-content;

    align-content: center;
    justify-content: center;
    align-items: center;

    margin-bottom: 2em;
}

.text-logo-grid img, .text-logo-grid h2 {
    width: 80%;
    height: 80%;
}


.about-WGI {
    margin-top: 5em;
}

.about-WGI > div {
    justify-items: left;
}

.about-WGI > div > img {
    justify-self: center;
    width: 100%;
}

.about-WGI > div > iframe, .about-WGI > div > figure {
    justify-self: center;
}

.about-WGI > div > li {
    max-width: 90%;
}

.about-WGI > p {
    text-align: left;
    width: 100%;
}



.about-DCI {
    padding-top: 90px;
    padding-bottom: 90px;
}

.about-DCI > img {
    max-width: 60%;
}

.about-DCI > div {
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 2;
    justify-items: center;
}

div.about-DCI-container {
    align-self: center;
    align-items: center;
    align-content: center;
}





/* ############################################
###############################################
############################################ */
/* mobile styles */
body {
    font-size: 14px;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}
h2 {
    margin-top: 1.6em;
    margin-bottom: 0.8em;
    line-height: 1.5em;
}
h3 {
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}
h4 {
    font-size: 0.8em;
    margin-bottom: 0.5em;
    margin-top: 2em;
}
header nav a, header button, footer nav a {
    margin: 0 1rem;
    font-size: 0.75em;
}

#top-link {
    font-size: 0.75em;
    width: 50%;
}

header {
    grid-template-columns: 3.5fr 1.5fr;
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
}

figcaption {
    font-size: 0.75em;
    margin-top: 0.75em;
}

#rotating {
    width: 90%;
}
.learn-more {
    padding: 20px;
    font-size: 1.2rem;
}

.color-scheme-toggle > i {
    padding-left: 0.40em;
    padding-top: 0.25em;
}

.slider {
    margin-top: 5em;
    margin-bottom: 2.5em;
    justify-self: center;
    scale: 0.5;
    width: 225px;
    height: 150px;
}

section {
    max-width: 90%;
    justify-self: center;
}

section figure a img, section figure a, figure {
    justify-self: center;
    justify-content: center;
    align-self: center;
}

#UDarena-video {
    width: 75vw
}

.ytgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 1em;

    justify-self: center;
    max-width: 100%;
}

.ytgrid > div > iframe{
    width: 300px;
    height: auto;
}



/* small tablet styles */
@media screen and (min-width: 620px) {
    body {
        font-size: 16px;
    }

    section {
        max-width: 85%;
    }
}



/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
    body {
        font-size: 20px;
    }

    section {
        max-width: 75%;
    }
}



/* desktop styles */
@media screen and (min-width: 1200px) {
    body {
        font-size: 22px;
    }
    
    section {
        max-width: 65%;
    }

    .ytgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1em;
    
        justify-self: center;
        max-width: 100%;
    }
}