/* Variables for easy customization */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --section-white: #ffffff;
    --section-black: #000000;
    --section-padding: 2rem;
}

body {
    background-color: var(--background-color);
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
}

/* Header styling */
header {
    background-color: var(--background-color);
    color: var(--text-color);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;

    box-shadow: 0 0px 8px rgba(0,0,0, 0.35);
}

header nav a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0 1rem;
    font-size: 1rem;
}


/* Title text */
.title {
    font-size: 2em;
    color: var(--text-color);
    text-align: center;
    margin: 1rem 0;
    transition: color 0.3s ease;

    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;

    height: fit-content;
}

/* Learn more link */
.learn-more {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
    align-self: center;

    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Section-specific styling */
section {
    padding: 2rem;
    display: grid;
    gap: 1rem;
}

section, div {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.title-container {
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width of the viewport minus scrollbar */
    margin: auto;
    display: grid;

    justify-items: center;
    align-content: center;
}

.about-WGI {
    background-color: var(--section-white);
    color: var(--section-black);
    clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
}

.about-DCI {
    background-color: var(--section-black);
    color: var(--section-white);
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
}

.how-I-started,
.why-I-do-it,
.other-drumming {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.why-I-do-it {
    background-color: var(--section-black);
    color: var(--section-white);
}

/* Carousel image styling */
.carousel img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.5s ease-in-out;
}

header {
    transition: transform 0.3s ease-in-out; /* Smooth sliding effect */
}

.wgi-logo-black, .dci-logo-white {
    width: 50%;
    justify-self: center;
}




/* ############################################
###############################################
############################################ */
/* grids and layout */
/* .about-DCI {
    margin: 150px 0px;
} */

.about-DCI > div {
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 2;
    justify-items: center;
}

.about-DCI > div > * {
    align-self: center;
}





/* ############################################
###############################################
############################################ */
/* mobile styles */
body {
    font-size: 14px;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}

h3 {
    font-size: 0.8em;
    margin-bottom: 0.5em;
    margin-top: 2em;
}



/* small tablet styles */
@media screen and (min-width: 620px) {
    body {
        font-size: 16px;
    }
}



/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
    body {
        font-size: 20px;
    }
}



/* desktop styles */
@media screen and (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}